.lora-heading-one {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lora-underheading-p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.home-asset {
    height: 100px;
    width: auto;
}

.lora-heading-two {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-quote-collapsable {
  font-family: "Lora", serif;
  color: rgb(0, 0, 0);
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border: none;
  text-align: center;
  outline: none;
}

.music-quote-collapsable::after {
  content: '\002B';
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: center;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.music-quote-content {
  font-family: "Lora", serif;
  color: black;
  border: 1px solid black;
  padding: 0 18px;
  max-width: 600px;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  transition: max-height 0.2s ease-out;
  background-color: white;
}

.music-quote-collapsable:hover {
  cursor: pointer;
  font-weight: 600;
}

.ruler-of-everything-asset {
  float: right;
  width: 150px;
  height: 150px;
  margin: 1rem 0 1rem 1rem;
}

.yt-icon {
  width: 40px;
  height: auto;
  vertical-align: middle;
}