body {
      cursor: url("../src/assets/custom-cursor.png"), auto;
}

.lora-heading-one {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lora-underheading-p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical (if container has height) */
}

.home-asset {
    height: 100px;
    width: auto;
}